/*AJOUT DES POLICES*/
*{
    margin: 0px;
    padding: 0px;
    font-family: "Bookman Old Style";
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* margin-right: -15px; */
    /* margin-left: -15px; */
}
/*bouton en savoir plus*/
.ensavoirplus{
    border-radius: 20px;
    color: #ffffff;
    background-color: #324149;
}
.a { text-decoration: none;
    list-style-type: none; }
.egp{
     color:#A2BD4D
    }
/*Header bootstrap custom*/

/*TEST*/
html,body {
    height:100%;
}
/*de base header*/
.listLink{
    margin-left: 50px;
    width: 550px;
    background-color: #CBD957;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
/**Page d'Accueil**/  


    .carousel-item {
      height: 70vh;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .imgstop{
        max-height: 500px;
        padding-bottom: 18px;
    }
    @media screen and (min-width: 1235px){
        #imagestop {
            display: none;
        } 
    }
    @media screen and (max-width: 1235px){
        .carousel-item {
            display: none;
         
        }
        .carousel-indicators { display: none;}

          .carousel-inner {
            display: none;
          }
          div#carouselExampleIndicators {
            display: none;
        }
    }
  

    .citation {
        font-weight: bold;
        font-size: 25px;
        color:whitesmoke;
        text-shadow: 0 0 10px black;
        display: block;
        position: relative;
        /* top: -81px; */
        bottom: 20em;
        left: 3px;
    }
    @media screen and (max-width: 1249px){
        .citation{
            font-weight: bold;
            font-size: 20px;
            color:whitesmoke;
            text-shadow: 0 0 15px black;
            display: block;
            position: relative;
            bottom: 16em;
            left: 3px;
        }
        #team {
            padding: 0;
        }
        .onremonte {
            /* display: block; */
            /* position: relative; */
            /* margin-bottom: -76px; */
            margin-top: -10em;
        }
    }
    @media screen and (max-width: 400px){
        .carousel-item {
        display: none;
          
          }
          div#carouselExampleIndicators {
            display: none;
        }
          .carousel-indicators { display: none;}
          .citation{
            font-weight: bold;
            font-size: 15px;
            color:whitesmoke;
            text-shadow: 0 0 15px black;
            display: block;
            position: relative;
            bottom: 16em;
            left: 3px;
        }
    }
    @media screen and (max-width: 578px){  
    .citation{
        font-weight: bold;
        font-size: 10px;
        color:whitesmoke;
        text-shadow: 0 0 15px black;
        display: block;
        position: relative;
        bottom: 16em;
        left: 3px;
    }
}
/*********************Pour tout le bloc avec les cards**************************************/
   
.onremonte {
        /* display: block; */
        /* position: relative; */
        /* margin-bottom: -76px; */
        margin-top: -13em;
    }
    @media screen and (max-width: 1249px){
        .onremonte {
            /* display: block; */
            /* position: relative; */
            /* margin-bottom: -76px; */
            margin-top: -13em;
        }
    }
.bg-logo{
    position: relative;
    height: auto;
}
.bg-logo::after{
    position: absolute;
    top: 50px;
    left: 60px;
    bottom: 0;
    right: 0;
    content: "";
    z-index: -1;
    background-image: url(../img/logofondbeau4.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.55;
}
/*CARD de l'accueil*/
#cards{
    text-decoration: none;
    list-style-type: none; 
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

#team {
    padding: 110px 0;
}

section .section-title {
    text-align: center;
    color: #324149;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.rien{
    height: 16em;
}
#team .card {
    display:inline;
    border: none;
    background: #ffffff;
}
.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    z-index: 2;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px #324149;
    -moz-box-shadow: 5px 7px 9px -4px #324149;
    box-shadow: 5px 7px 9px -4px #324149;
}

.frontside,
.backside {   
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #324149 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #324149 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.card-body{
    margin-top: -10px;
}
.card2 {
    margin-left: 20px;
}
@media screen and (max-width: 1200px){
        .bg-logo {
            position: relative;
            height: auto;
            right: 10px;
    }
}  
@media screen and (max-width: 1024px){
    /* #card{
        margin-left: 0px;
    } */
    .card3{
        margin-left: 20px;
    }
    
}
@media screen and (max-width: 900px){
        .card1{
            margin-left: 155px;
        }
        .card2{
            margin-left: 262px;
            margin-top: 5em;
        }
        .card3{
            margin-right: -12px;
            margin-top: 5em;
        }
        #team {
            padding: 0px 0; 
        }
        .bg-logo {
            position: relative;
            height: auto;
            margin-right: 20px;
    } 
     .rien{display: none;
            height: 0em;}
        
    }
    @media screen and (max-width: 895px){
        .card1{
            margin-left: 180px;
        }
        .card2{
            margin-left: 306px;
            margin-top: 5em;
        }
        .card3{
            margin-left: -1; margin-top: 5em;
        }
    }
    @media screen and (max-width: 893px){
        .card1{
            margin-left: 185px;
        }
        .card2{
            margin-left: 309px;
            margin-top: 5em;
        }
        .card3{
            margin-left: 0; margin-top: 5em;
        }
    }
   
 @media screen and (max-width: 874px){
        #team {
            padding: 0px 0; 
        }
        .card-body {
            margin-top: 0px;
        }
    }
    @media screen and (max-width: 858px){
        .card1{
            margin-left: 175px;
        }
        .card2{
            margin-left: 296px;
            margin-top: 5em;
        }
        .card3{
            margin-left: 0; margin-top: 5em;
        }
    }
    @media screen and (max-width: 821px){
        .card1{
            margin-left: 171px;
        }
        .card2{
            margin-left: 285px;
            margin-top: 5em;
        }
        .card3{
            margin-left: 0; margin-top: 5em;
        }
    }
    @media screen and (max-width: 793px){
        .card1{
            margin-left: 157px;
        }
        .card2{
            margin-left: 265px;
            margin-top: 5em;
        }
        .card3{
            margin-left: 0; margin-top: 5em;
        }
    }
@media screen and (max-width: 768px){
        /* #card{
            margin-left: 0px;
        } */
        .card1{
            margin-left:  8.5em;
        }
        .card2{
            margin-left: 15em;
        }
        .card3{
            margin-left: 14em;
        }
        #team {
            padding: 0px 0; 
        }
        .bg-logo {
            position: relative;
            height: auto;
            margin-right: 20px;
    }  .rien{display: none;
            height: 0em;}
        
    }
    @media screen and (max-width: 767px){
        .card1{
            margin-left: 15.5em;
        }
        .card2{
            margin-left: 14.5em;
            margin-top: 5em;
        }
        .card3{
            margin-left: 13.5em; margin-top: 5em;
        }
    }
@media screen and (max-width: 750px){
    /* #card{
        margin-left: 0px;
    } */
    .card1{
        margin-left: 16.5em;
    }
    .card2{
        margin-left: 15em;
    }
    #team {
        padding: 0px 0; 
    }
    
}
@media screen and (max-width: 727px){
    /* #card{
        margin-left: 0px;
    } */
    .card1{
        margin-left: 15.5em;
    }
    .card2{
        margin-left: 14em;
    }
    .card3{
        margin-left: 207px;
    }
}
@media screen and (max-width: 727px){
    /* #card{
        margin-left: 0px;
    } */
    .card1{
        margin-left: 14.5em;
    }
    .card2{
        margin-left: 13em;
    }
    .card3{
        margin-left: 190px;
    }
    
}
@media screen and (max-width: 665px){
    /* #card{
        margin-left: 0px;
    } */
    .card1{
        margin-left: 13.5em;
    }
    .card2{
        margin-left: 12em;
    }
    .card3{
        margin-left: 178px;
    }
    
}
@media screen and (max-width: 616px){
    /* #card{
        margin-left: 0px;
    } */
    .card1{
        margin-left: 11.5em;
    }
    .card2{
        margin-left: 10em;
    }
    .card3{
        margin-left: 148px;
    }
    
}
@media screen and (max-width: 579px){
    /* #card{
        margin-left: 0px;
    } */
    .card1{
        margin-left: 10.5em;
    }
    .card2{
        margin-left: 9em;
    }
    .card3{
        margin-left: 130px;
    }
    .bg-logo {
        position: relative;
        height: auto;
        margin-top: 100px;
} }
@media screen and (max-width: 549px){
    /* #card{
        margin-left: 0px;
    } */
    .card1{
        margin-left: 9.5em;
    }
    .card2{
        margin-left: 8em;
    }
    .card3{
        margin-left: 115px;
    }
    .bg-logo {
        position: relative;
        height: auto;
        margin-top: 100px;
} 
      
}
@media screen and (max-width: 517px){
    /* #card{
        margin-left: 0px;
    } */
    .card1{
        margin-left: 9.5em;
    }
    .card2{
        margin-left: 8em;
    }
    .card3{
        margin-left: 118px;
    }
    .bg-logo {
        position: relative;
        height: auto;
        margin-top: 100px;
}}
@media screen and (max-width: 488px){
    /* #card{
        margin-left: 0px;
    } */
    .card1{
        margin-left: 8.5em;
    }
    .card2{
        margin-left: 7em;
    }
    .card3{
        margin-left: 98px;
    }
    .bg-logo {
        position: relative;
        height: auto;
        margin-top: 100px;
} }
@media screen and (max-width: 452px){
    /* #card{
        margin-left: 0px;
    } */
    .card1{
        margin-left: 6.5em;
    }
    .card2{
        margin-left: 5em;
    }
    .card3{
        margin-left: 67px;
    }
  
    
} 
@media screen and (max-width: 420px){
    /* #card{
        margin-left: 0px;
    } */
    .card1{
        margin-left: 6em;
    }
    .card2{
        margin-left: 5em;
    }
    .card3{
        margin-left: 66px;
    }
  
    
} 
@media screen and (max-width: 411px){
    /* #card{
        margin-left: 0px;
    } */
    .card1{
        margin-left: 6.5em;
    }
    .card2{
        margin-left: 5em;
    }
    .card3{
        margin-left: 65px;
    }
    #activites {
        margin-right: -35px;
    }
  
    
}      
@media screen and (max-width: 400px){
.card1 {
    margin-left: 80px;
    margin-bottom: 50px;
}
.card2 {
    margin-left: 56px;
    margin-bottom: 50px;
}
.card3 {
    margin-left: 42px;
    margin-bottom: 50px;
}
.onremonte {
    /* display: block; */
    /* position: relative; */
    /* margin-bottom: -76px; */
    margin-top: -15em;
}
#activites {
    margin-left: 16px;
}
}

@media screen and(max-width: 340px){
    .card1 {
        margin-left: 40px;
        margin-bottom: 50px;
    }
    .card2 {
        margin-left: 25px;
        margin-bottom: 50px;
    }
    .card3 {
        margin-left: 38px;
        margin-bottom: 50px;
    }
}
@media screen and(max-width: 311px){
    .card1 {
        margin-left: 20px;
        margin-bottom: 50px;
    }
    .card2 {
        margin-left: 5px;
        margin-bottom: 50px;
    }
    .card3 {
        margin-left: 19px;
        margin-bottom: 50px;
    }
}
@media screen and(max-width: 303px){
    .card1 {
        margin-left: 49px;
        margin-bottom: 50px;
    }
}

/*Location*/
/**/

/*1ère frise de gauche*/
/* .bg-frise{
    height: 65px;
}
.bg-frise::after{
    top: 150px;
    left: 0;
    bottom: 50px;
    right: 0;
    content: "";
    z-index: -1;
    background-image: url(../img/decor2.1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5;
}
@media screen and (max-width: 1200px){
    .bg-frise::after{
        background: none;
    }
} */
/*2eme frise de droite*/
/* .bg-frise2{
    height: 65px; 
}
.bg-frise2::after{
    top: 150px;
    left: 0;
    bottom: 50px;
    right: 0;
    content: "";
    z-index: -1;
    background-image: url(../img/decor2.1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5;
}
@media screen and (max-width: 1200px){
    .bg-frise2::after{
        background: none;
    }
} */


/*Page de Contact*/
.jumbotron {
    background: #358CCE;
    color: #FFF;
    border-radius: 0px;
    }
    .jumbotron-sm { padding-top: 24px;
    padding-bottom: 24px; }
    .jumbotron small {
    color: #FFF;
    }
    .h1 small {
    font-size: 24px;
    }
    #btnEnvoyerMail{
        float: right;
        margin-top: 20px;
    }
    
    #annotation{
        font-size: 13px;
    }


/*Page Debuter*/

.iframe2 {
    display: block;
    position: relative;
    width: 90%;
    height: 500px;
}
@media screen and (min-width: 1800px){
    .atelier{
        margin-left: 9em;
    }
    .imagform{width: 450px; height: auto;}
    .iframe1{
        display: inline-block;
        width: 700px;
         height: 400px;
         margin-left: -20em;
    }
    /* #tonton{
        margin-left: 39em;
    }
    }
    .iframe2{
        display: inline-block;
        width : 700px;
         height: 400px;
    } */
    
}

@media screen and (max-width: 1200px){
    .atelier{
        margin-left: 9em;
    }
    .imagform{width: 450px; height: auto;}
    
}
@media screen and (max-width: 770px){
.iframe1{
    width: 400px;
     height: 300px;
}
.iframe2{
    width : 380px;
     height: 300px;
}
.imagform{width: 300px; height: auto;}
    
}
@media screen and (max-width: 414px){
    .form{
        margin-left: 0;
    }
    .imagform{width: 450px; height: auto;
    margin-left: 40px;}
    
.iframe1{
    width: 400px;
     height: 300px;
}
.iframe2{
    width: 400px;
    height: 300px;
}
.imagform{width: 300px; height: auto;}
  
.prixformation{
    color:black;
    margin-left: 40px;
    font-size: 20px;
    text-align: center;
}
.atelier {
 margin-left: 0em; 
}
.textformation {
    margin-left: 0px; 
}
@media screen and (max-width: 411px){
    .form{
        margin-left: 0;
    }
    .imagform{width: 450px; height: auto;
    margin-left: 40px;}
    
.iframe1{
    width: 400px;
     height: 300px;
}
.iframe2{
    width: 400px;
    height: 300px;
}
.imagform{width: 300px; height: auto;}
  
.prixformation{
    color:black;
    margin-left: 40px;
    font-size: 20px;
    text-align: center;
}
.atelier {
 margin-left: 0em; 
}
.textformation {
    margin-left: 0px; 
}

}
@media screen and (max-width: 390px){
    .form{
        width: 281px;
        margin-left: 0;
    }
}
@media screen and (max-width: 375px){
    .form{
        margin-left: 0;
    }
    .imagform{width: 287px; height: auto;
    margin-left: 26px;}
    
.iframe1{
    width: 400px;
     height: 300px;
}
.iframe2{
    width: 400px;
    height: 300px;
}
.imagform{width: 300px; height: auto;}
  
.prixformation{
    color:black;
    margin-left: 40px;
    font-size: 20px;
    text-align: center;
}
.atelier {
 margin-left: 0em; 
}
.textformation {
    margin-left: 9px; 
}
#cequi{
    margin-left: 0em;
}
}
@media screen and (max-width: 320px){
    .form{
        margin-left: 0;
    }
    .imagform{width: 450px; height: auto;
    margin-left: 40px;}
    
    .iframe1 {
        width: 350px;
        height: 228px;
    }
.iframe2{
    width : 380px;
     height: 300px;
}
.imagform {
    width: 264px;
    height: auto;
}
  
.prixformation{
    color:black;
    margin-left: 20px;
    font-size: 20px;
    text-align: center;
}
.atelier {
 margin-left: 3em; 
}
.textformation {
    margin-left: 64px; 
}
#cequi{
    margin-left: 2em;
}
}
@media screen and (max-width: 310px){
    .imagform {
        width: 219px;
        height: auto;
    }
    .form{
        margin-left: 0;
    }
    .imagform{width: 450px; height: auto;
    margin-left: 40px;}
    
    .iframe1 {
        width: 350px;
        height: 228px;
    }
.iframe2{
    width : 380px;
     height: 300px;
}
.imagform {
    width: 264px;
    height: auto;
}
  
.prixformation{
    color:black;
    margin-left: 20px;
    font-size: 20px;
    text-align: center;
}
.atelier {
 margin-left: 0em; 
}
.textformation {
    margin-left: 11px; 
}
#cequi{
    margin-left: 0em;
}
}
/*Fait tout les liens de la page enfaite*/
.prixformation{
    color:black;
}
.prixformation:hover{
    text-decoration: none;
    color: green;
}