
.ha-bg-parallax {
	background: url(./img/rabbit.jpg) no-repeat fixed;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 650px;
	margin: 0 auto;
	display: block;
	position: relative;
}

 .ha-parallax-body {
	vertical-align: middle;
	text-align: center;
	background: url(./img/rabbit.jpg) no-repeat fixed;
	color: #FFFFFF;
	font-optical-sizing: black;
	min-height: 650px;
}
.container{
	display: block;
	position: relative;
	/*top:8em;*/
}

.image{
	background: url(../img/rabbit.jpg) no-repeat fixed;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	margin: 0 auto;
	display: block;
	position: relative;
	height: 40em;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
	top: 190px;
	color: whitesmoke;
}