/**************** Global **************/
* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  color: #666666;  
}

/************** Paralax sections **********/

.pimg1 {
  background: url(../img/woman.jpg);
  min-height: 400px;
}
.pimg2 {
  background: url(../img/cabane.jpg);
  min-height: 400px;
}

.pimg3 {
  background: url(../img/picnic.jpg);
  min-height: 400px;
}

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;   
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .trans {
  background: transparent;
}

/***************** Normal sections ************/

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background: #f4f4f4;
  color: #666666;
}

.section-dark {
  background: #282e34;
  color: #dddddd;
}

/***************** Media Queries ***************/

@media (max-width: 568px) {
  .pimg1,
  .pimg2,
  .pimg3 {
     /* fixed = parallax, scroll = normal */
     background-attachment: scroll;
  }
  #nosprod{display: block;
    position: absolute;
    margin-top: -89px;
}
}