/*AJOUT DES POLICES*/
*{
    margin: 0px;
    padding: 0px;
    font-family: "Bookman Old Style";
}
.a { text-decoration: none;
    list-style-type: none; }
/*Header bootstrap custom*/

/*TEST*/
html,body {
    height:100%;
}
/*de base header*/
.listLink{
    margin-left: 50px;
    width: 550px;
    background-color: #CBD957;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
/**Page d'Accueil**/  


    .carousel-item {
      height: 80vh;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .imgstop{
        height: 500px;
    }
    @media screen and (min-width: 1235px){
        #imagestop {
            display: none;
        } 
    }
    @media screen and (max-width: 1235px){
        .carousel-item {
            height: 60vh;
            background: no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
         
          }
          .carousel-inner {
            display: none;
          }
    }
    @media screen and (max-width: 400px){
        .carousel-item {
            height: 40vh;
            background: no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          
          }
    }

    #citation {
        font-weight: bold;
        font-size: 25px;
        color: white;
        text-shadow: 0 0 10px black;
        display: block;
        position: relative;
        /* top: -81px; */
        bottom: 20em;
        left: 3px;
    }
.bg-logo{
    position: relative;
    height: auto;
}
.bg-logo::after{
    position: absolute;
    top: 0;
    left: 70px;
    bottom: 0;
    right: 0;
    content: "";
    z-index: -1;
    background-image: url(../img/logofondbeau4.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.55;
}
/*CARD de l'accueil*/
#cards{
    text-decoration: none;
    list-style-type: none; 
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

#team {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #324149;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.rien{
    height: 16em;
}
#team .card {
    display:inline;
    border: none;
    background: #ffffff;
}
.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    z-index: 2;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px #324149;
    -moz-box-shadow: 5px 7px 9px -4px #324149;
    box-shadow: 5px 7px 9px -4px #324149;
}

.frontside,
.backside {   
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #324149 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #324149 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.card-body{
    margin-top: -10px;
}
/*bouton en savoir plus*/
.ensavoirplus{
    border-radius: 20px;
    color: #ffffff;
    background-color: #324149;
}
/*FIN DE L'ACCUEIL*/
/*Footer*/
/* footer{
    padding: 15px;
    background-color: #cbd957;
    padding-top: 25px;
} */
/*Contact*/
/* .offset-md-2.col-md-2.center {
    left: 479px;
    top: 100px;
}
.mobile{
    display:none;
} */
/* @media screen and (max-width: 992px){
    /* logo de login de la nav qui disparait en dessous de 992px */
    /* #icone_connexion img{
        display: none;
    } */
    /* lien de connexion/login dans le ul de la nav qui apparait en dessous de 992px */
    /* .mobile{
        display: block;
    } */
/* } */
/*footer reseaux sociaux*/
/* .titre {
    margin-left: 250px;
    margin-top: 100px;
}
.social-f ul li{
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    background-size: 40px;
    margin: 0px 15px;
}

.social-f ul{
    margin-top: 1rem;
}

.social-f ul li a{
    color: transparent;
} */

/*Insertion icon*/
/* 
.facebook-icon-f{
background-image: url(../img/svg/facebook_noir.svg);
}

.facebook-icon-f:hover{
background-image: url(../img/svg/facebook_couleur.svg);
transition: 0.2s;
}


.instagram-icon-f{
background-image: url(../img/svg/instagram_noir.svg);
}

.instagram-icon-f:hover{
background-image: url(../img/svg/instagram_couleur.svg);
transition: 0.2s;
} */
/*footer icon de connexion*/

/* 
.connexionMobile{
    display: none;
}

.lien_g a{
    display: block;
    text-decoration: none;
    color: #324149;
    font-size: 0.8em;
    margin-right: 1rem;
}


.lien_g a:hover{
    color: #ffbd59;
}
.navbar-nav{
    margin: auto;
} */
/*Footer partenaire*/
/* #partenaire{
    margin-top: 250px;
} */
/*mention légale, copyright*/
/* .mention {
    padding-top: 50px;
} */
/**Format Mobile**/
@media screen and (max-width: 1200px){
    .connexionMobile{
        margin-top: 25px;
        display: block;
    }

    .bg-logo{
        right:10px;
        background-image: none;
    }
}
@media screen and (max-width: 700px){
    .bg-logo{
        right:15px;
        background-image: none;
    }
}
/*Page les valeurs*/
/*Haut de page principes*/
.bg-principe {
    background-image: url(../img/decor3.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*Bill Morrison animation*/
.bill{
    font-weight: bold;
    color:#4F1B36;
    text-align: right;
}
.defilewrap{
    position: relative;
}
.defilewrap .defileParent {
	display: inline-block;
	overflow: hidden;
	position: relative; 
}
.defilewrap .lettre {
    display:inline-block;
    transform-origin: 0 100%;
	padding:0 10px;
	text-align:left;
	height:25px;
} 
.liens, .liens:hover {
    text-decoration: none;
    color: #4F1B36;
}
/*FONT  DE NOS VALEURS*/

.colormaj{
    color:#71310D;
}
.egp{
    color:#A2BD4D
}
.bg-logo1{
    display:block;
    position: relative;
    height: 1035px;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
} 
.bg-logo1::after{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    z-index: -1;
    background-image: url(../img/logo_fond_vert_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5;
}


/*Lettre du président et Plaidoyer*/
.president {
        text-align: center;
        margin-top: 96px;
        text-decoration: none;
    }
.decor{
    background-position: center;
    background-image: url(../img/decor4.gif);
    height: 200px;
    width: auto;
    /* margin-left: 200px; */
    background-repeat: no-repeat;

}
.decor2{
    background-position: center;
    background-image: url(../img/decor1.png);
    height: 32em;
    width: auto;
    background-repeat: no-repeat;
    text-align: center;
}

/*media de la page valeur pour le background*/

@media screen and (max-width: 1200px){
    .bg-logo1::after{
        background: none;
    }
}

/*Location*/
/**/

/*1ère frise de gauche*/
/* .bg-frise{
    height: 65px;
}
.bg-frise::after{
    top: 150px;
    left: 0;
    bottom: 50px;
    right: 0;
    content: "";
    z-index: -1;
    background-image: url(../img/decor2.1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5;
}
@media screen and (max-width: 1200px){
    .bg-frise::after{
        background: none;
    }
} */
/*2eme frise de droite*/
/* .bg-frise2{
    height: 65px; 
}
.bg-frise2::after{
    top: 150px;
    left: 0;
    bottom: 50px;
    right: 0;
    content: "";
    z-index: -1;
    background-image: url(../img/decor2.1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5;
}
@media screen and (max-width: 1200px){
    .bg-frise2::after{
        background: none;
    }
} */


/*Page de Contact*/
.jumbotron {
    background: #358CCE;
    color: #FFF;
    border-radius: 0px;
    }
    .jumbotron-sm { padding-top: 24px;
    padding-bottom: 24px; }
    .jumbotron small {
    color: #FFF;
    }
    .h1 small {
    font-size: 24px;
    }
/****************************************Don page faire un don*********************************/
.decor3{
        background-position: center;
        background-image: url(../img/decor1.png);
        background-repeat: no-repeat;
        text-align: center;
    }
.lien, .lien:hover {
        text-decoration: none;
        color: #4F1B36;
    }
.bg-donate{
    display: inline-block;
    position: absolute;
    height: 32em;
    width: 100%;
    right: 0px;
    top: 40em;
    z-index: -1;
}

.bg-donate::after{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    z-index: -1;
    background-image: url(../img/donate.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.onepage-form.onepage-form-donation {
    background-color: white;
}
/**********************************Page bénévole************************/
.benetitre{
    font-size: 25px;
}
.align-items-baseline {
    -ms-flex-align: baseline!important;
    align-items: baseline!important;
    display: flex;
    position: static;
}
.imgvolontaire {
    display: block;
    position: absolute;
    width: 207px;
    left: 0em;
    z-index: -197;
}
/* .imgvolontaire2 {
    display: block;
    position: absolute;
    width: 207px;
    left: 104em;
    z-index: -197;
} */

.collapse{
    z-index: 500;
}
/*Bouton*/
#link{
    color:green;
}
#link:hover{
    text-decoration: none;
    color: rgb(9, 42, 9);
}

/*Page Debuter*/
.imgformation {
    position: relative;
    width: 33em;
    height: 15em;
    z-index: -1;
    background-image: url(../img/article4.gif);
    background-repeat: no-repeat;
    background-size: contain;
}
/*Fait tout les liens de la page enfaite*/
.prixformation{
    color:black;
}
.prixformation:hover{
    text-decoration: none;
    color: green;
}

/*Page Location*/

.img-center img{
    margin: auto;
}