/*FIN DE L'ACCUEIL*/
/*Footer*/
footer{
    z-index: 20;
    padding-top: 25px;
}
/*Contact*/
.offset-md-2.col-md-2.center {
    left: 479px;
    top: 100px;
}
.mobile{
    display:none;
}
 @media screen and (max-width: 992px){
    #icone_connexion img{
        display: none;
    }
    /* lien de connexion/login dans le ul de la nav qui apparait en dessous de 992px */
    .mobile{
        display: block;
    }
} 
/*footer reseaux sociaux*/
.titre {
    margin-left: 250px;
    margin-top: 100px;
}
.social-f ul li{
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    background-size: 40px;
    margin: 0px 15px;
}

.social-f ul{
    margin-top: 1rem;
}

.social-f ul li a{
    color: transparent;
}

/*Insertion icon*/

.facebook-icon-f{
background-image: url(../img/svg/facebook_noir.svg);
}

.facebook-icon-f:hover{
background-image: url(../img/svg/facebook_couleur.svg);
transition: 0.2s;
}


.instagram-icon-f{
background-image: url(../img/svg/instagram_noir.svg);
}

.instagram-icon-f:hover{
background-image: url(../img/svg/instagram_couleur.svg);
transition: 0.2s;
}
/*footer icon de connexion*/


.connexionMobile{
    display: none;
}

.lien_g a{
    display: block;
    text-decoration: none;
    color: #324149;
    font-size: 0.8em;
    margin-right: 1rem;
}


.lien_g a:hover{
    color: #ffbd59;
}
.navbar-nav{
    margin: auto;
}
/*Footer partenaire*/
#partenaire{
    margin-top: 250px;
}
/*mention légale, copyright*/
.mention {
    padding-top: 50px;
}
/**Format Mobile**/
@media screen and (max-width: 1200px){
    .connexionMobile{
        margin-top: 25px;
        display: block;
    }
}
/***********************************************************test footer******************/